<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mycal" method="post">     
        <!-- /mycals是提交地址路由   -->
        <input type="text" name="x" value={{ x }}>
        <select name="op">
            <option value="add" {% if op == "add" %} selected {% endif %}>+</option>  
            <!-- selected 是选中 -->
            <option value="sub" {% if op == "sub" %} selected {% endif %}>-</option>
        </select>
        <input type="text" name=y value={{ y }}> =<span>{{ result }}<span>
        <div>
            <input type ="submit" value="开始计算">
        </div>
    </form>
</body>
</html>